// override BOOTSTRAP vars

/***********************************************************************************************************************
 * GENERAL - influences all pages
 **********************************************************************************************************************/

html, body, div#app {
  height: 100%;
  color: black;

  scrollbar-width: thin;
  scrollbar-color: var(--grey-base) var(--grey-light);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--grey-light);
}

::-webkit-scrollbar-thumb {
  background: var(--grey-base);
}


/// custom utils ----

.no-margin {
  margin: 0;
}

.validation-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #D43B3B;
}

.sync-arrow {
  font-size: 4em;
  font-weight: bold;
}

.action:hover {
  cursor: pointer;
}

.active {
  color: $green-mid;
}

.inactive {
  color: $grey-base;
}

.clickable {
  cursor: pointer;
}

th .only-on-hover {
  visibility: hidden; // hide child-elem unless hovered - sort icons
}

th:hover .only-on-hover {
  visibility: visible; // hide child-elem unless hovered - sort icons
}

select.form-select {
  height: 48px; // correction
}

h3 {
  color: var(--grey-deep, #252525);
  font-feature-settings: 'clig' off, 'liga' off;

  font-family: var(--stihl-font-family-text);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

/// Header / Navbar ----------------------------------------------------------------------------------------------------
.nav-text {
  padding: 8px;
  border: 0.8px transparent;
}

.stihl-navbar {
  border-bottom: thin solid $grey-base !important;
  background-color: $grey-light !important;
}

.stihl-navbar #logo {
  //width: 150px;
  height: 60px;
}

.stihl-navbar #app-name {
  font-family: var(--stihl-font-family-title);
  font-weight: 900;
  font-size: 1rem;
  margin-left: 2rem;

  text-transform: uppercase;
}

.stihl-navbar #navbarContent {
  margin-right: 24px; // 32-8
}

.stihl-navbar .nav-item {
  padding: .75rem 1rem !important;
}

.stihl-navbar .nav-icon-link {
  display: grid;
  justify-items: center;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

.stihl-navbar .nav-icon-link i.bi {
  width: 16px;
  height: 16px;
  //justify-self: center;
}

.stihl-navbar .nav-icon-link .nav-text {
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}

.languages {
  width: 40rem;
}
.languages ul{
  padding: 0;
  margin: 0;
}
.languages li{
  list-style-type: none;
}
.languages .dropdown-item.active {
  color: black;
  background-color: white;
  font-weight: bold;
}

header .dropdown-menu {
  padding: .5rem 0;
}

/// Footer -------------------------------------------------------------------------------------------------------------

/** push footer down with style */
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.stihl-footer {
  height: 60px;

  border-top: 1px solid $grey-base;
  background-color: $grey-light;

  font-size: 16px;
  line-height: 16px;

  z-index: 1000;
}

.footer-links a {
  text-decoration: none;
  margin-left: 40px;
  color: black;
}

.footer-address {
  //font-family: $font-family-sans-serif-bold;
  font-weight: 700;
  font-size: 12px;
  margin-right: 40px;
}

/// offcanvas ----------------------------------------------------------------------------------------------------------

.offcanvas-header {
  justify-content: space-between;
}

/// FORM ---------------------------------------------------------------------------------------------------------------

.form-control {
  height: $input-height;
}

.input-group-text {
  padding: .9rem .5rem .9rem 1rem;
  background-color: white;
}

.input-group > .form-control, .input-group > .form-select, .input-group > .input-group-text {
  font-feature-settings: 'clig' off, 'liga' off;
  height: 3rem;
}

.btn {
  --bs-btn-padding-y: .75rem;
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-disabled-bg: var(--grey-mid);
  --bs-btn-disabled-color: var(--grey-base);
  --stihl-btn-gap: .5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--stihl-btn-gap);
}

// Button
.btn-primary {
  --bs-btn-hover-bg: var(--orange-dark);
  --bs-btn-active-bg: var(--orange-dark);
}

.btn-secondary {
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: var(--grey-deep);

  --bs-btn-bg: var(--grey-deep);
  --bs-btn-color: white;
  --bs-btn-hover-bg: var(--grey-dark);
  --bs-btn-active-bg: var(--grey-dark);
  --bs-btn-hover-color: white;
  --bs-btn-active-color: white;
}

.btn-default {
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: var(--grey-deep);
  --bs-btn-hover-border-color: var(--grey-deep);
  --bs-btn-bg: white;
  --bs-btn-hover-bg: var(--grey-light);
  --bs-btn-active-bg: var(--grey-light);
  --bs-btn-disabled-bg: white;
}

.btn:focus-visible {
  border: 2px solid white;
  box-shadow: 0 0 0 2px var(--grey-deep);
}

.btn-close {
  --bs-btn-close-bg: url("../img/icons/cross.svg");
  --bs-btn-close-opacity: 1;
  --bs-btn-close-hover-opacity: 1;
  --bs-btn-close-focus-shadow: none;
}

.btn-group {
  --stihl-btn-group-gap: 1.5rem;
  display: flex;
  gap: var(--stihl-btn-group-gap);
  align-items: center;
}

.link {
  cursor: pointer;
}

.link-with-icon {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  --bs-btn-line-height: 1.5rem;
  text-decoration: none;
}

.small-icon {
  width: 12px;
  height: 12px;
}

.big-icon {
  width: 20px;
  height: 20px;
}

.stihl-checkbox[type="checkbox"] {
  border: var(--stihl-border-width) solid var(--grey-deep);
  border-radius: 0;
  width: 1rem;
  height: 1rem;

  background: white;
}

input.stihl-checkbox:checked[type="checkbox"] {
  width: 1rem;
  height: 1rem;

  background-image: url("../../assets/img/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  border: 0;
  appearance: none;
  print-color-adjust: exact;
}

input[type="radio"]:checked {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23252525'/%3E%3Ccircle cx='8' cy='8' r='5' fill='%23E9640C'/%3E%3C/svg%3E ");
}

/// Page ---------------------------------------------------------------------------------------------------------------

.page {
  //padding-top: 2rem !important;
  //padding-bottom: 2rem !important;
  padding: 2.5rem;
}

.page h1 {
  padding-bottom: 1rem;
}

/// Modal -----------------

@media (max-width: $modal-xl) {
  .modal-wide-xl-down { // full width if smaller than xl
    min-width: 100%;
  }
}

.modal-footer {
  --bs-modal-footer-gap: 0;
}

.modal .buttons {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

/// Toasts ------------------- https://www.npmjs.com/package/vue-toast-notification#version-matrix
.v-toast {
  padding: 4rem 2.5rem;
}

.v-toast__item {
  padding: 1rem 1.5rem;
  border: 0;
  margin-bottom: .75rem;

  display: flex;
  align-items: center;

  font-family: var(--stihl-font-family-text);
  font-size: .875rem;
  font-weight: 700;
  line-height: 1rem;
}

.v-toast__item p {
  padding: 0;
  margin: 0;
  color: var(--grey-deep);
}

.v-toast__icon {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  background: var(--toast-icon);
}

.v-toast__item--error {
  --toast-icon: url("../../assets/img/icons/status-error.svg") no-repeat center;
  background-color: var(--red-light);
}

.v-toast__item--warning {
  --toast-icon: url("../../assets/img/icons/status-warning.svg") no-repeat center;
  background-color: var(--yellow-light);
}

.v-toast__item--success {
  --toast-icon: url("../../assets/img/icons/status-ok.svg") no-repeat center;
  background-color: var(--green-light);
}

.v-toast__item--default {
  --toast-icon: url("../../assets/img/icons/circle-info-inverted.svg") no-repeat center;
  background-color: var(--grey-light);
}

/// Alerts -------------------

.alert {
  --bs-alert-padding-x: 1.5rem;
  --bs-alert-padding-y: 1rem;
  --bs-border-width: 0;
  --bs-alert-margin-bottom: .75rem;

  --bs-body-font-size: .875rem;
  --bs-body-font-weight: 700;
  --bs-body-line-height: 1rem;

  --bs-success-text-emphasis: var(--grey-deep);
  --bs-warning-text-emphasis: var(--grey-deep);
  --bs-danger-text-emphasis: var(--grey-deep);
  --bs-info-text-emphasis: var(--grey-deep);

  display: flex;
  align-items: center;
  font-weight: var(--bs-body-font-weight);
}

.alert-success {
  --bs-alert-bg: var(--green-light);
}

.alert-warning {
  --bs-alert-bg: var(--yellow-light);
}

.alert-danger {
  --bs-alert-bg: var(--red-light);
}

.alert-info {
  --bs-alert-bg: var(--grey-light);
}

.alert-light {
  --bs-alert-bg: var(--grey-light);
}

.alert-success, .alert-warning, .alert-danger, .alert-info, .alert-light {
  padding-left: 3.5rem; /*space for icon*/
}

.alert-success::before, .alert-warning::before, .alert-danger::before, .alert-info::before, .alert-light::before {
  position: absolute;
  left: 1.5rem;
  width: 1rem;
  height: 1rem;
  margin: 0;
  content: "";
}

.alert-success::before {
  background: url("../../assets/img/icons/status-ok.svg") no-repeat center;
}

.alert-warning::before {
  background: url("../../assets/img/icons/status-warning.svg") no-repeat center;
}

.alert-danger::before {
  background: url("../../assets/img/icons/status-error.svg") no-repeat center;
}

.alert-info::before {
  background: url("../../assets/img/icons/circle-info-inverted.svg") no-repeat center;
}

.alert-light::before {
  background: url("../../assets/img/icons/circle-info-inverted.svg") no-repeat center;
}


/// Overlay -----------------------------------
.stihl-overlay {
  background-color: white;
}

/// Spinner -----------------------------------
.spinner-border {
  /*border: 0;*/
  mask-image: url("../../assets/img/icons/spinner.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: url("../../assets/img/icons/spinner.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

/// Pagination --------------------------------
.pagination {
  height: 32px;
  line-height: 24px;
  //align-self: center;
  //align-content: center;
}

.pagination a {
  cursor: pointer;
}

.pagination .page-link.active {
  font-weight: 700;
  text-decoration: underline solid black 15%;
}

.separator {
  width: 2px;
  display: flex;
  justify-items: center;
}

.separator .vr {
  width: 1px;
  height: 16px !important;
  align-self: center;
}


// multiselect --------------------------------

.multiselect .multiselect-dropdown {
  border: solid 1px black;
  box-shadow: none;
  border-radius: 0;
}

.multiselect .multiselect-options {
  padding: 0;
}

.multiselect {
  min-width: 250px;
  height: 3rem;

  border: solid 1px var(--grey-base);
  box-shadow: none;
  border-radius: 0;
}

.multiselect-caret {
  width: 1rem;
  height: 1rem;
  -webkit-mask-image: url("../../assets/img/icons/chevron-down.svg");
  mask-image: url("../../assets/img/icons/chevron-down.svg");
  transition: none;
}

.multiselect.is-disabled {
  color: $input-disabled-color;
}

.multiselect.is-disabled .multiselect-caret {
  background-color: $input-disabled-bg;
}

.multiselect.is-active {
  border: solid 1px var(--grey-dark);
  box-shadow: none;
  border-radius: 0;
}

.multiselect-option.is-selected {
  font-weight: 700;
}

.multiselect-option.is-pointed:active {
  background-color: var(--grey-mid);
}

.multiselect.is-open {
  border-bottom: 0;
}

.multiselect.is-open .multiselect-dropdown {
  border-top: 0;
}

/***********************************************************************************************************************
 * CUSTOM to 1 page
 **********************************************************************************************************************/

// Users Page ----------------------------------

#searchForm {
  margin-top: 2rem; // +2.5 from page
  margin-bottom: 4rem;
}

#searchForm select {
  min-width: fit-content;
}

.w-7rem {
  width: 7rem;
}

// -- edit-user & add-user (step2) pages -----

.h-split {
  display: flex;
  gap: 0;
  height: 100%;
}

#userDetails .content, #addUser .content {
  /* for stihl standard screen */
  --stihl-admins-max-height: 9rem;

  display: flex;
  flex-flow: column;
  /*gap: 1.25rem;*/

  width: var(--stihl-container-max-width);
  padding: 0;
}

#userDetails .content form, #addUser .content form {
  margin-top: 4.5rem;
}

#userDetails .content hr {
  margin: .75rem 0 1.25rem;
}

.admins-group {
  margin: 1.5rem 0;
}
